body {
background-color: lightblue;
font-family: Arial, sans-serif;
}
.bg-primary{
    background:#009688!important;
}
.banner {
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0.8),rgba(0,0,0,.8))  ,url("../img/banner.jpg");
    background-size:cover;
    color: red;
}
 .card-body{
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }